$fs_0_1: 3.5px;
$fs_0_2: 7px;
$fs_0_3: 10.5px;
$fs_0_4: 14px;
$fs_0_5: 17.5px;
$fs_0_6: 21px;
$fs_0_7: 24.5px;
$fs_0_8: 28px;
$fs_0_9: 31.5px;
$fs_1_0: 35px;
$fs_1_1: 38.5px;
$fs_1_2: 42px;
$fs_1_3: 45.5px;
$fs_1_4: 49px;
$fs_1_5: 52.5px;
$fs_1_6: 56px;
